{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Register</h1>
</div>
<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <!--<label>Username</label>
        {{form.username}}
        <label>Password</label>
        {{form.password1}}
        <label>Password again</label>
        {{form.password2}}-->
        <div style="text-align:center;" >
            <input style="margin-top: 20px;" class="button" type="submit" value="Register"/>
        </div>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
</div>





{% endblock content %}